.pages {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
}
.page {
  background-color: rgb(255, 226, 172);
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border-color: transparent;
  border-width: 4px;
  border-style: solid;
}

.active {
  background-color: cadetblue;
  border-color: rgb(54, 91, 92);
  border-width: 4px;
  border-style: solid;
}
.page:hover {
  background-color: gold;
}
