
.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid green;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.cell:hover {
    background-color: rgba(0, 128, 0, 0.068);
  }
  