.pollBar {
  height: 20px;
  transition: width 0.2s;
}

.grid {
  display: grid;
  width: 100%;
  gap: 8px;
  grid-template-columns: 1fr 1fr 50px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 500px;
}
