.container {
  display: flex;
  flex-direction: row;
}
.desc {
  position: relative;
}

.preview {
  position: absolute;
  top: 0;
  left: 30%;
}
.lens {
  border: 1px solid white;
  z-index: 5;
  position: absolute;
}
.originalImage {
  width: 500px;
  min-width: 500px;
  position: relative;
  background-color: red;
  height: 300px;
}
.originalImage img {
  width: 100%;
  height: 100%;
  z-index: 4;
}
